################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Picoage.Encryptor.Tests/bin/Debug/netcoreapp2.1
